<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
	<title>logIn</title>
</head>
<body>
	<form id="loginForm" method="POST" action="#">
		<input type="text" id="loginUsername" placeholder="username" name="username"></input>
		<input type="password" id="loginPassword" placeholder="password" name="password"></input>
		<button type="submit" id="loginSubmit">Submit</button>
	</form>

	
</body>
</html>