<div class="col-lg-4 col-lg-offset-1" ng-controller="signupController as signupCtrl">
	<div class="well bs-component">
		<form name="signupFormT" class="form-horizontal" role="form" ng-submit="signupFormT.$valid && signupCtrl.signup()" novalidate>
			<fieldset>
				<legend>SignUp</legend>
					<div class="form-group">
						<label for="inputNameS" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10">
								<input ng-model="signupCtrl.user.name" type="text" class="form-control" placeholder="Name"></input>
							</div>
					</div>
					<div class="form-group">
						<label for="inputUsernameS" class="col-lg-2 control-label">Username</label>
							<div class="col-lg-10">
								<input ng-model="signupCtrl.user.username" type="text" class="form-control" placeholder="Username"></input>
							</div>
					</div>
					<div class="form-group">
						<label for="inputPasswordS" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input ng-model="signupCtrl.user.password" type="password" placeholder="Password" class="form-control"></input>
							</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
			</fieldset>
		</form>
	</div>
	<h1></h1><p>{{signupCtrl.user.username}}</p><h1>
	<p>{{signupCtrl.var}}</p>
</div>