<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
  
  <section id="chooseSection">
    <button id="signupButton">Signup</button>
    <button id="loginButton">Login</button>
  </section>

  <section id="signinSection" style="display: none;">
    <div>
      <form id="userForm" method="POST" action="#">
        <input type="text" name="name" id="name"  placeholder="Name"></input>
        <input type="text" name="username"  placeholder="username" id="username"></input>
        <input type="password" name="password" id="password"  placeholder="password"></input>
        <button type="submit" class="submit" disabled>Entrar</button>
      </form>
    </div>
  </section>

  <section id="chatSection" style="display: none;">
    <div>Usuarios</div>
    <div>
      <div class="chatScreen"></div>
      <input type="text" class="inputText" placeholder="Write here!"></input>
    </div>
    
  </section>
  <script type="text/javascript" src="/js/app.js"></script>
  
</body>
</html>